<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
    <form method="POST" action="submitted/">
        {% csrf_token %}
        <h3>Username:</h3><input type="text" name="usernameInput">
        <h3>Password:</h3><input type="password" name="passwordInput"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>